---
import Layout from '../layouts/Layout.astro';
import Button from "../components/Button.astro";
---

<Layout title="Parking lot">
	<main>
		<h1>parking lot</h1>
		<Button label="button1" />

	</main>
</Layout>

<style>
</style>
