---
import Layout from '../layouts/Layout.astro';
import ReactButton from "../components/react-button";
---

<Layout title="Parking lot">
	<main>
		<h1>parking lot</h1>
		<ReactButton client:visible />

	</main>
</Layout>

<style>
</style>
